*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  padding: 10px;
}

#heading {
  margin-top: 50px;
}

.hidden{
  display: none;
}

.text-blue{
  color:blue
}